<section class='header-section' id='news'>
  <h2><%= @event.title %> への申し込みは定員に達しました</h2>

  <p>
    <%= @event.title %>への申し込みは定員に達しましたので受付を終了しております。<br />
    <br />
    たくさんのお申込み、ありがとうございました。<br />
  </p>

  <p style="text-align:center;margin-top: 20px;">
    <a href="http://ruby-b.com" style="color:#FF4040">Rubyビジネス推進協議会 トップへ</a>
  </p>

</section>

