<header id='header'>
<hgroup id='header-group'>
<div id='header-logo'>
  <h1>
    <a alt='Rubyビジネス推進協議会' href='http://ruby-b.com/'>
      <%= image_tag "rubylogo.png" %>
    </a>
  </h1>
</div>
<nav id='main-nav'>
<ul>
  <li>
  <a alt='HOME' href='http://ruby-b.com/index.html'>HOME</a>
  </li>
  <li>
  <a alt='イベント' href='http://ruby-b.com/events/index.html'>イベント</a>
  </li>
  <li>
  <a alt='推進協議会' href='http://ruby-b.com/council.html'>推進協議会</a>
  </li>
  <li>
  <a alt='入会案内' href='http://ruby-b.com/#admission'>入会案内</a>
  </li>
  <li>
  <a alt='お問い合わせ' href='http://ruby-b.com/#inquiry'>お問い合わせ</a>
  </li>
</ul>
</nav>
</hgroup>
<div id='header-banner'>
  <%= image_tag "top_bana.png" %>
</div>
</header>

