/* 
    Document   : style
    Created on : 2013/06/26, 7:27:45
    Author     : oonishi@centerfield
    Description:
        Purpose of the stylesheet follows.
*/
#site_bar {
    bottom: 0;
    height: 47px;
    padding: 0;
    position: fixed;
    right: 0;
    width: 100%;
    margin-top: 47px;
}
#header { 
    background-color: white;
    background-image: url("common/top_bana.png"), url("common/bg.png");
    background-position: right 100px, center 100px;
    background-repeat: no-repeat, repeat-x;
    height: 300px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

h1#logo { 
    background: url("common/rubylogo.png") no-repeat scroll right 0 transparent;
    width: 50%;
    height: 100px;
    float: left;
    margin: 0 auto;
}

h1#logo a{ 
    position: absolute;
    top: 200px;
}

nav#menu {
    float: left;
    margin: 0 auto;
    width: 50%;
}

nav#menu ul li a{
    border-bottom: 8px solid #666;
    color: #333333;
    display: block;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

nav#menu ul li a:hover{
    border-bottom: 8px solid #F00;
}

section#page {
    clear: left;
}