<div id="delete_confirm_modal"  class="modal hide fade in">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>確認</h3>
  </div>
  <div class="modal-body">
    <h4>削除してもよろしいですか？</h4>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">キャンセル</a>
    <%= link_to "削除",
      admin_event_entry_path(@event, 0),
      :method => :delete,
      :class => "btn primary",
      :"data-dismiss" => "modal",
      :remote => true,
      :complete => "$('#delete_confirm_modal').modal('hide');"
    %>
  </div>
</div>
